Host lab-bastion
    HostName <IP>
    User ubuntu
    IdentityFile ./lab-key
    IdentitiesOnly yes

Host lab-cpu
    HostName <IP>
    User ubuntu
    IdentityFile ./lab-key
    IdentitiesOnly yes
    ProxyJump lab-bastion